.fb {
    color: rgb(66, 103, 178);
}

.twtr {
    color: rgb(211, 97, 97);
}

.ig {
    color: rgb(75, 185, 75);
}

.text {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}